@import 'node_modules/pearson-elements/scss/elements/color/_variables';

.o-dropdown-menu {
	position: relative;
	font-size: $o-dropdown-menu-base-font-size;
}

// Menu item container
.o-dropdown-menu__menu-items {
	position: fixed;
	left: 0;
	z-index: $o-dropdown-menu-z-index;
	display: none;
	float: left;
	min-width: 320px;
	padding: 10px 0;
	margin: 0;
	list-style: none;
	text-align: left;
}

.o-app-header__nav-item-help {
	padding: 0 26px;
}

.o-dropdown-menu__toggle {
	padding-left: 0;
	padding-right: 0;
}

.o-dropdown-menu--expanded > .o-dropdown-menu__menu-items {
	display: block;
}

.o-dropdown-menu--up > .o-dropdown-menu__menu-items {
	bottom: 100%;
}

.o-dropdown-menu--right > .o-dropdown-menu__menu-items {
	right: 0;
	left: auto;
}

 .o-dropdown-menu__toggle i {
	height: 20px;
	width: 20px;
	overflow: hidden;
	display: block;
}

.o-dropdown-menu__toggle:hover .hover-image,
.o-dropdown-menu__toggle:focus .hover-image {
	margin-top: -20px;
}

// Menu item
.o-dropdown-menu__menu-item > a,
.o-dropdown-menu__menu-item > button {
	display: block;
	clear: both;
	text-decoration: none;
	color: $pe-color-digital-pearson-blue;
	white-space: nowrap;
	outline-offset: -2px;

	&:hover {
		color: $pe-color-ink-blue;
		text-decoration: none;
	}
}

.o-dropdown-menu__menu-item > button {
	min-width: 100%;
	margin: 0;
	border: 0;
	font-size: inherit;
	font-family: inherit;
	text-align: left;
	cursor: pointer;
	background-color: $o-dropdown-menu-bg;

	// Remove extra space in FF
	&::-moz-focus-inner {
		padding: 0;
		border: 0;
	}
}

.o-dropdown-menu__menu-close {
	position: relative;
	background: transparent;
	top: -57px;
	float: right;
	padding: 0;
}

.dropdown-close-button {
	background: none;
	border: none
}

// Divider
.o-dropdown-menu__divider {
	height: 1px;
	margin: 9px 0;
	overflow: hidden;
	background-color: $o-dropdown-menu-divider-bg;
}

// Heading
.o-dropdown-menu__heading {
	font-size: $o-dropdown-menu-heading-font-size;
}

.o-dropdown-menu__heading:not(.o-dropdown-menu__menu-item) {
	color: $o-dropdown-menu-heading-color;

	> a {
		text-decoration: none;
	}
}

// Disabled state
.o-dropdown-menu__menu-item--disabled > a,
.o-dropdown-menu__menu-item > button:disabled {

	&,
	&:hover,
	&:focus {
		color: $o-dropdown-menu-link-disabled-color;
	}

	// Remove hover/focus effects
	&:hover,
	&:focus {
		text-decoration: none;
		background-color: transparent;
		background-image: none;
		cursor: not-allowed;
	}

}
