@import 'node_modules/pearson-elements/scss/elements/color/_variables';

@mixin nav-link {
	display: block;
	padding: (($o-header-height-mobile - $o-header-nav-link-line-height) / 2) $o-header-nav-link-padding;
	line-height: $o-header-nav-link-line-height;
	text-decoration: none;
	color: $pe-color-medium-gray;
	font-size: 16px;

	&:hover,
	&:focus {
		color: $o-header-link-hover-color;
	}

	@media (min-width: 768px) {
		padding: 24px $o-header-nav-link-padding;
	}
}

@mixin nav-link-light {
	color: $o-header-link-color-light;

	&:hover,
	&:focus {
		color: $o-header-link-hover-color-light;
	}
}

// Responsive
@mixin responsive-visible($parent) {
	#{$parent} {
		display: block !important;
	}
}

@mixin responsive-hidden($parent) {
	#{$parent} {
		display: none !important;
	}
}
