@import 'node_modules/pearson-elements/scss/elements/color/_variables';

@mixin nav-link {
	display: block;
	padding: (($o-header-height-mobile - $o-header-nav-link-line-height) / 2) $o-header-nav-link-padding;
	line-height: 18px;
	text-decoration: none;
	color: $pe-color-medium-gray;
	font-size: 14px;
	font-weight: 600;
        background-color: transparent;
        border: 0;

	&:hover,
	&:focus {
		color: $o-header-link-hover-color;
	}

	@media (min-width: 768px) {
		padding: 25.5px 0;
	}
}

@mixin nav-link-light {
	color: $o-header-link-color-light;

	&:hover,
	&:focus {
		color: $o-header-link-hover-color-light;
	}
}

// Responsive
@mixin responsive-visible($parent) {
	#{$parent} {
		display: block !important;
	}
}

@mixin responsive-hidden($parent) {
	#{$parent} {
		display: none !important;
	}
}
