@import 'node_modules/pearson-elements/scss/elements/color/_variables';

.o-header {

	.o-dropdown-menu {

		> a {
			@include nav-link;
		}

		> a > span {
			color: inherit;
		}

		@media (max-width: $o-header-dropdown-menu-items-breakpoint) {
			position: static;
		}
	}

	.o-dropdown-menu--expanded {

		> a {
			position: relative;
			z-index: 0;
			background-color: $pe-color-white;
		}

		@media (min-width: $o-header-desktop-min) {
			> a::before {
				top: 0;
			}
		}
	}

	.o-dropdown-menu__menu-items {
		padding: 30px;
		background-color: $pe-color-white;
		border: 1px solid $pe-color-alto;
		box-shadow: 0 3px 5px 0 rgba(199, 199, 199, 0.7);

		@media (max-width: $o-header-dropdown-menu-items-breakpoint) {
			left: 0;
			right: 0;
			top: $o-header-height-mobile;
		}
	}

	.o-app-header__menu-item-my-account {
		margin-top: 25px;
	}

	.o-app-header__menu-item-sign-out {
		margin-top: 30px;
	}

	.pe-btn__primary--btn_xlarge.sign-out-button {
		text-decoration: none;
		font-size: 18px;
		line-height: 44px;
		font-weight: 700;
		text-align: center;
		color: #FFF;
	}

	.o-dropdown-menu__menu-item {
		> a {
			margin-top: 12px;
			font-size: 14px;
			line-height: 18px;
			text-decoration: underline;
		}
	}

	.o-dropdown-menu__menu-item-title {
		line-height: 26px;
		font-size: 20px;
		color: $pe-color-charcoal;
		padding-bottom: 25px;
		border-bottom: 1px solid $pe-color-alto;
		border-bottom-width: 0.5px;
	}

	.o-dropdown-menu__divider {
		margin: 0;
	}
}
