@import 'node_modules/pearson-elements/scss/elements/color/_variables';

.o-header {
	box-sizing: border-box;
}

.o-header *,
.o-header *:before,
.o-header *:after {
	box-sizing: inherit;
}

// Base
.o-header {
	box-sizing: border-box;
	width: 100%;
	min-height: $o-header-height-mobile;
	z-index: $o-header-z-index;
	background-color: $pe-color-white;
	border-bottom: 1px solid $pe-color-moonlight;
	color: $o-header-text-color;
	font-size: $o-header-base-font-size;

	a {
		text-decoration: none;
		color: $o-header-link-color;
		outline-offset: -2px;

		&:hover,
		&:focus {
			color: $pe-color-digital-pearson-blue;
		}
	}
        .o-header__brand a {
          display: block;
        }

	&::before,
	&::after {
		display: table;
		content: '';
	}

	&::after {
		clear: both;
	}

	@media (min-width: 768px) {
		min-height: $o-header-height;
	}
}

.o-header--fixed {
	position: fixed;
	top: 0;
}

// Sections
.o-header__section {
	float: left;
}

.o-header__section--right {
	float: right;
}
