////
/// @group o-header
/// @link https://origami.pearsoned.com/registry/components/o-header
////

.o-header__nav {
	width: auto;
	float: left;
}


.o-header__nav-items {
	margin: 0;
	padding: 0;
	list-style: none;
}

.o-header__nav-item {
	float: left;
	height: $o-header-height-mobile;
        padding: 0 13px;

	> a {
		@include nav-link;
	}

}
.o-header__nav .o-header__nav-item:last-child {
  padding-right: 0;
}

.o-header__nav-item a i {
	height: 20px;
	width: 20px;
	overflow: hidden;
	display: block;
}

.o-header__nav-item:hover .hover-image,
.o-header__nav-item:focus .hover-image {
	margin-top: -20px;
}

.o-header__nav-item--active {
	background: $o-header-nav-link-active-bg;
}
