////
/// @group o-app-header
/// @link https://origami.pearsoned.com/registry/components/o-app-header
////

$o-app-header-height: $o-header-height !default;
$o-app-header-nav-link-line-height: $o-header-nav-link-line-height !default;
$o-app-header-z-index: 1000 !default;

// TODO: replace with o-colors
$o-app-header-menu-app-nav-bg: #666666 !default;

// Light theme
$o-app-header-menu-app-nav-bg-light: #cccccc !default;
