////
/// @group o-app-header
/// @link https://origami.pearsoned.com/registry/components/o-app-header
////

$o-app-header-height: $o-header-height !default;
$o-app-header-nav-link-line-height: $o-header-nav-link-line-height !default;
$o-app-header-z-index: 1000 !default;

/// Responsive breakpoint
$o-app-header-grid-float-breakpoint: $o-header-grid-float-breakpoint !default;
$o-app-header-grid-float-breakpoint-max: $o-header-grid-float-breakpoint-max !default;
