.o-app-header {
	font-family: oFontsGetFontFamilyWithFallbacks(HelveticaNeue);
	z-index: $o-app-header-z-index;
}

.o-app-header__toggle {
	padding: (($o-app-header-height - $o-app-header-nav-link-line-height) / 2) 0;
}

.o-app-header__collapse {
	z-index: 1000;
}

.o-app-header__page-nav-container {
	@media (min-width: $o-app-header-grid-float-breakpoint) {
		display: none;
	}
}
