.o-app-header {
	font-family: oFontsGetFontFamilyWithFallbacks(HelveticaNeue);
	-webkit-font-smoothing: antialiased;
	z-index: $o-app-header-z-index;
}

.o-app-header__username {
	max-width: 220px;
}

// Responsive utilities
// TODO: move to o-visibility
.o-app-header--truncate {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

// Icons
// TODO: replace with o-icons
.o-app-header__icon {
	font-style: normal;
	margin: 0 5px;
	font: normal 12px/12px helvetica;
}

.o-app-header__icon-chevron-up,
.o-app-header__icon-chevron-down {
	&:before {
		display: inline-block;
		transform: scale(2, 1) translateY(-2px);
	}
}

.o-app-header__icon-chevron-up {
	&:before {
		content: '\2227';
	}
}

.o-app-header__icon-chevron-down {
	&:before {
		content: '\2228';
	}
}

.o-app-header__icon-left-arrow {
	&:before {
		content: '\2190';
	}
}

// Menu
.o-app-header__menu-account {

	i {
		color: inherit;
	}

	.o-dropdown-menu__menu-items {
		@media (min-width: $o-header-phone-min) {
			width: 250px;
		}
	}

	.o-dropdown-menu__menu-item--disabled {
		> a {
			color: $o-app-header-menu-app-nav-menu-item-disabled-color;
		}
	}
}

.o-app-header__menu-items-app-nav {
	margin: 0;
	padding: 0;
	list-style: none;
	background-color: $o-app-header-menu-app-nav-bg;
}

.o-app-header__menu-item-site-nav {
	font-size: 1.2em;

	> a {
		padding-top: 13px;
	}
}

// Light theme
.o-header--theme-light {
	// scss-lint:disable SelectorDepth

	.o-app-header__menu-account {

		.o-dropdown-menu__menu-item--disabled > a {
			color: $o-app-header-menu-app-nav-menu-item-disabled-color-light;
		}
	}

	.o-app-header__menu-items-app-nav {
		background-color: $o-app-header-menu-app-nav-bg-light;
	}
}
